@page "/"

@inject HttpClient Http

<h1>Todos</h1>

<ul>
    @foreach (var todo in _todos) {
        @* if(todo.Completed) {
            <li style="color: green;">@todo.Title</li>
        } else {
            <li style="color: red;">@todo.Title</li>
        } *@
        <li style="color: @(todo.Completed ? "green" : "red");">
            @todo.Title
        </li>
    }
</ul>